<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secure File Share</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body style="background-color: rgb(231, 231, 231);">
    {# Navigation Menu #}
    <header>
        <div class="navbar navbar-default navbar-static-top {% block nav-style %}{% endblock %}">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Secure File Share</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="">Logout</a></li>
                    {% else %}
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>