<!DOCTYPE html>
<head>
    <title>Secure File Share</title>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    {# Navigation Menu #}
    <header>
        <div class="navbar navbar-default navbar-static-top {% block nav-style %}{% endblock %}">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Secure File Share</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="">Logout</a></li>
                    {% else %}
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>

    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message|safe }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {# login form #}
    <h2>Login</h2>
    <form action="/login/" method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
      {% endbuttons %}
      <a href='/register'>Not already registered?</a>
    </form>
</body>
