{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
Register
{% endblock %}

{% block content %}
    <h2>Register</h2>
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}

    <form method="post" action="/create_account/" class="form">
      {% csrf_token %}
      <div class='form-group'>
        <label class='control-label' for="id_username">Username:</label>
        <input class='form-control' id="id_username" maxlength="254" name="username" type="text" required>
      </div>
      <div class='form-group'>
        <label class='control-label' for="id_email">Email:</label>
        <input class='form-control' id="id_email" maxlength="254" name="email" type="email" required>
      </div>
      <div class='form-group'>
        <label class='control-label' for="id_password">Password:</label>
        <input class='form-control' id="id_password" maxlength="254" name="password" type="password" required>
      </div>
       {% buttons %}
            <button type="submit" class="btn btn-primary">Submit</button>
       {% endbuttons %}
    </form>
{% endblock %}
