{% extends 'registration/base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="col-lg-4 col-md-4 col-xs-4"></div>
    <div class="container col-lg-4 col-md-4 col-xs-4" style="border: 2px solid black; border-radius: 25px; background-color: white;">
       <h2>Register</h2>
       {% for message in messages %}
         <p>{{ message }}</p>
       {% endfor %}
      <form action="/create_account/" method="post" class="form">
          {% csrf_token %}
          {% for field in form %}
            {% bootstrap_field field %}
          {% endfor %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
      </form>
    </div>
{% endblock %}