{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
Groups
{% endblock %}

{% block content %}
<h3>Groups for {{ user.username | title}}</h3>
<ul class='list-group'>
  {% for group in groups %}
    <li class='list-group-item'><a href='/group/?name={{ group|escape }}'>{{ group }}</a></li>
  {% endfor %}
</ul>
<hr>
<div>
  <form class='form-group' action="/create_group/" method="post" name="create">
    {% csrf_token %}
    <label class='control-label' for='groupname'>Group to create:</label>
    <input class='form-control' id='groupname' type='text' name='groupname'>
    {% buttons %}
    <button type='submit' class='btn btn-lg btn-primary'>Create Group</button>
    {% endbuttons %}
  </form>
</div>
{% endblock %}
