<h1> Members of {{ group_name }} </h1>

{% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<ul>
  {% for member in group_members %}
    <li><a href='/user/?name={{ member|escape }}'>{{ member }}</a></li>
  {% endfor %}
</ul>

<div>
  <p>Type in the name of a user you want to add to {{ group_name }}.</p>
  <form action="/add_member/" method="post" name="add">
    {% csrf_token %}
    <input type='hidden' name='groupname' value='{{ group_name }}'>
    <input type='text' name='username'>
    <input type='submit' value='Submit'>
  </form>
</div>

<div>
    {%  load web_filters %}
    {% if user|is_site_manager %}
      <p>Type in the name of a user you want to delete from {{ group_name }}.</p>
      <form action="/delete_member/" method="post" name="delete">
        {% csrf_token %}
        <input type='hidden' name='groupname' value='{{ group_name }}'>
        <input type='text' name='username'>
        <input type='submit' value='Submit'>
      </form>
    {%  endif %}
</div>
<div>
{% if reports_list %}
            <UL>
            {% for report in reports_list %}
                    <LI><b>{{ report.title }}</b></LI>
                    <LI<span>Owner: </span>{{ report.owner.username }}</LI>
                    <LI><span>Description: </span>{{ report.short_desc }}</LI>
                    <LI><span>Summary: </span>{{ report.long_desc }}</LI>
                    {% if report.group %}
                    <LI><span>Shared with: </span>{{ report.group.name }}</LI>
                    {% else %}
                    <li><span>Public</span></li>
                    {% endif %}
                    <LI><span>Created: </span>{{ report.timestamp }}</LI>
                    {% if report.files %}
                    <li><span><a href='/reports/uploads/{{ report.pk }}/'>Download File</a></span></li>
                    {% endif %}
                    <button type="button" onclick="alert('Report Saved to Your Folder')">Save Report</button>
		    <p></p>
            {% endfor %}
            </UL>
    {% else %}
            <P>No reports at present.</P>
    {% endif %}
</div>
