{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
{{ group_name }}
{% endblock %}

{% block content %}
<h1> Members of {{ group_name }} </h1>

{% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<ul class='list-group'>
  {% for member in group_members %}
    <li class='list-group-item'><a href='/message/post/?user={{ member|escape }}'>{{ member }}</a></li>
  {% endfor %}
</ul>
<br>
<div>
  <form class='form-group' action="/add_member/" method="post" name="add">
    {% csrf_token %}
    <input type='hidden' name='groupname' value='{{ group_name }}'>
    <label class='control-label' for='add_user'>User to add:</label>
    <input id='add_user' class='form-control' type='text' name='username'>
    <br>
    {% buttons %}
      <button type='submit' class='btn btn-lg btn-primary'>Add Member</button>
    {% endbuttons %}
  </form>
</div>

<div>
    {%  load web_filters %}
    {% if user|is_site_manager %}
      <p>Type in the name of a user you want to delete from {{ group_name }}.</p>
      <form class='form-group' action="/delete_member/" method="post" name="delete">
        {% csrf_token %}
        <input type='hidden' name='groupname' value='{{ group_name }}'>
        <label class='control-label' for='username'>User to remove:</label>
        <input id='username' class='form-control' type='text' name='username'>
        <br>
        {% buttons %}
          <button type='submit' class='btn btn-lg btn-primary'>Remove Member</button>
        {% endbuttons %}
      </form>
    {%  endif %}
</div>
<hr>
<div>
{% if reports_list %}
            <UL>
            {% for report in reports_list %}
                    <LI><b>{{ report.title }}</b></LI>
                    <LI<span>Owner: </span>{{ report.owner.username }}</LI>
                    <LI><span>Description: </span>{{ report.short_desc }}</LI>
                    <LI><span>Summary: </span>{{ report.long_desc }}</LI>
                    {% if report.group %}
                    <LI><span>Shared with: </span>{{ report.group.name }}</LI>
                    {% else %}
                    <li><span>Public</span></li>
                    {% endif %}
                    <LI><span>Created: </span>{{ report.timestamp }}</LI>
                    {% if report.files_encrypted %}
                    <h5>Files are encrypted. Must use FDA to download</h5>
                    {% else %}
                    {% if report.files %}
                      {% for file in report.files %}
                        <li><span>
                            <a href='/reports/uploads/{{ file.pk }}/'>Download {{ file.file_obj.name }}</a>
                        </span></li>
                      {% endfor %}
                    {% else %}
                    <li><span>No files attached</span></li>
                    {% endif %}
                    {% endif %}

		    <p></p>
            {% endfor %}
            </UL>
    {% else %}
            <P>No reports at present.</P>
    {% endif %}
</div>
{% endblock %}
