{% extends 'base.html' %}

{% block title %}
Secure File Share
{% endblock %}

{% block content %}
<h1>Hello {{ user.username | title }}</h1>
<hr>

{% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<h4><a class='btn btn-primary btn-lg btn-block' href='/groups/'>Groups</a></h4>
<h4><a class='btn btn-primary btn-lg btn-block' href='/users/'>Users</a></h4>

<h4><a class='btn btn-primary btn-lg btn-block' href='/messages/'>View Messages: ({{ unread }}) unread</a></h4>
<h4><a class='btn btn-primary btn-lg btn-block' href='/reports/'>Add a Report</a></h4>
<h4><a class='btn btn-primary btn-lg btn-block' href='/reports/see/'>View Reports</a></h4>
<h4><a class='btn btn-primary btn-lg btn-block' href='/reports/create_folder/'>Folders</a></h4>

<div>
    {%  load web_filters %}
    {% if user|is_site_manager %}
    <h4><a class='btn btn-primary btn-lg btn-block' href='/site_manager/'>Site Manager Permissions</a></h4>
    {%  endif %}
</div>

{% endblock %}
