{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<h1>{{ message.subject }}</h1>

<h3>From: {{ message.sender.username }}</h3>

<p>Sent at {{ message.sent }}</p>

{% if message.encrypted %}

<h2>MESSAGE ENCRYPTED</h2>
<form method='post' class='form'>
  {% csrf_token %}
  <div class="form-group"><label class="control-label" for="id_key">Paste your RSA key here</label><textarea class="form-control" cols="40" id="id_key" name="key" placeholder="Everything between -----BEGIN RSA PRIVATE KEY-----
-----END RSA PRIVATE KEY-----" required="required" rows="10" title="">
  </textarea></div>
  <button type='submit' class='btn btn-primary'>Decrypt</button
></form>
{% else %}
<p>{{ message.message }}</p>
{% endif %}

<form method='post' class='form'>
  {% csrf_token %}
  <input name='read' value='True' type='hidden'>
  <button type='submit' class='btn btn-primary'>Mark as unread</button>
</form>

<form method='post' class='form'>
  {% csrf_token %}
  <input name='delete' value='True' type='hidden'>
  <button type='submit' class='btn btn-primary'>Delete Message</button>
</form>
